body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.nav {
  width: 100%;
  background-color: rgb(185, 1, 36);
  border: 1px solid black;
}

.navbar-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly; /* Changed to center */
  align-items: center;
  list-style-type: none;
  font-weight: bold;
  color: white;
  font-size: 22px;
  margin: 0 auto; /* Changed margin */
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; /* Added to center horizontally */
  z-index: 1000;
  background-color: rgb(185, 1, 35);
  animation: swim 1s ease-in-out forwards;
}

@keyframes swim {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.navbar-container li {
  cursor: pointer;
  margin: 0 5px; /* Adjusted margin */
  padding: 5px 8px;
}

.navbar-container li:hover {
  animation: dance 0.5s ease-in-out infinite alternate;
}

@keyframes dance {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-5px) translateX(2px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}

.navbar-image-container {
  /* border: 1px solid black; */
  width: 100%;
}
.navbar-image {
  width: 100%;
}
/* ............................................................................................... */
.container-1 {
  width: 100%;
  display: flex;
  /* border: 2px solid yellowgreen; */
}
.left-side {
  width: 50%;
  border: 2px solid black;
}

.image-container {
  /* border: 2px solid orange; */
  width: 50%;
}
.image-swim {
  width: 100%;
  height: 200px;
  background-image: url(/images/swimming.png);
}

.activityContain {
  /* border: 1px solid green; */
  display: flex;
  position: relative;
}
.leftPart,
.rightPart {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  position: relative;
}
.textContainer {
  padding-left: 1rem;
}
.text-head {
  /* border: 1px solid blue; */
  font-size: 40px;
  font-family: Mirador;
  font-style: italic;
  font-weight: 900;
  line-height: normal;
  margin: 0;
  padding: 0 5rem 0 0;
}
.text-down {
  /* border: 1px solid blue; */
  color: #60bdbb;
  font-family: "TT Chocolates Trl";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.img1,
.img2,
.img3 {
  width: 70%;
}
.img1 {
  margin-top: 2.5rem;
  padding-left: 2.5rem;
}
.img3 {
  padding-left: 1.8rem;
  margin-top: 2.5rem;
}
.img {
  filter: brightness(50%);
}
.seeMore {
  position: absolute;
  width: 8%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0);
}
.img2,
.img1,
.img3 {
  position: relative;
}
.imgText {
  position: absolute;
  bottom: 1.5rem;
}
.imgTextHead {
  padding-left: 1rem;
  color: white;
  font-size: 2rem;
}
.imgTextAdd {
  padding-left: 1rem;
  color: white;
  font-size: 1rem;
}
.arrow {
  position: absolute;
  right: 0;
  bottom: 1rem;
}
.youtubeContainer {
  filter: brightness(50%);
  position: relative;
  margin-top: 50px;
}

.playButton {
  /* border: 1px solid red; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140px;
  height: 100px;
  background-image: url("/images/playButton.png"); /* Replace 'play_button.png' with your actual play button image */
  background-size: cover;
  cursor: pointer;
}

.SchoolBetterContainer {
  /* border: 2px solid gray; */
  width: 70%;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.SchollImageContainer {
  width: 20%;
  /* border: 1px solid red; */
  margin-top: 30px;
}
.schoolTextContainer {
  /* border: 1px solid green; */
  width: 60%;
  position: relative;
}
.schoolText {
  color: #b90124;
  font-family: Mirador;
  font-size: 35px;
  font-style: italic;
  font-weight: 900;
  width: 90%;
  /* border: 1px solid red; */
  margin: 30px 0 0 10px;
}
.secSchoolText {
  color: #5e5e5e;
  font-family: Mirador;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  width: 90%;
  /* border: 1px solid red; */
  margin: 10px 0 0 10px;
  margin-bottom: 50px;
}

.Tis {
  /* border: 1px solid green; */
  margin-top: 50px;
}
.tisHead {
  /* border: 1px solid red; */
  width: 50%;
  text-align: center;
  margin: auto;
  font-family: Mirador;
  font-style: italic;
  font-weight: 900;
  color: #b90124;
  font-size: 40px;
}

.manageContainer {
  /* border: 2px solid black; */
  margin-top: 20px;
  width: 80%;
  display: flex;
  justify-content: space-around;
  /* height: 250px;  */
  margin: 30px auto;
  padding: 10px;
}
.manageTextContainer {
  /* border: 1px solid red; */
  width: 35%;
  text-align: left;
  padding-top: 20px;
}
.manageImageContainer {
  /* border: 1px solid green; */
  width: 40%;
}
.manageLogoContainer {
  /* border: 1px solid rgb(198, 29, 127); */
  width: 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.tisImage {
  width: 100%;
}
.manageContain {
  display: flex;
  /* padding: 0.5rem; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.virtualTourConatiner {
  border: 1px solid green;
  position: relative;
  display: flex;
  justify-content: center;
}
.virtualTourDes {
  background-color: #b90124;
  border-radius: 10px;
  width: 75%;
  position: absolute;
  bottom: -3.5rem;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.aspect {
  text-align: center;
  color: white;
  width: 25%;
  border-left: 1px solid white;
}
.aspect:first-child {
  border-left: none;
}
.aspect > .aspect1 {
  font-size: 2rem;
}
.aspect > .aspect2 {
  font-size: 1rem;
}

.awards {
  /* border: 5px solid black; */
  margin-top: 150px;
}

.fromparent {
  margin-top: 50px;
  /* border: 1px solid black; */
  width: 100%;
}
.fromparentImageContainer {
  width: 100%;
  height: 500px;
}
.footer {
  width: 100%;
  /* margin-top: 100px; */
  /* border: 1px solid brown; */
  position: relative;
}
.footerImagerContainer {
  width: 100%;
}
.footerImage {
  width: 100%;
  /* height: 500px; */
  filter: brightness(20%);
}
.footerText {
  width: 70%;
  /* border: 1px solid yellow; */
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 0);
}
.btnContainer {
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
}
.footerTextBtn {
  background-color: rgb(166, 0, 40);
  color: white;
  border: none;
  font-size: 17px;
  padding: 20px;
  width: 20%;
  cursor: pointer;
}
.footerTextBtn:hover {
  background-color: rgb(255, 0, 77);
  font-size: 20px;
}
.footerInnerText {
  /* border: 1px solid green; */
  width: 70%;
  margin: auto;
}

.focus {
  width: 100%;
  margin-top: 20px;
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-evenly;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.dashed-list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 60px;
}

.dashed-list li {
  padding-left: 20px;
  font-size: 20px;
  line-height: 1.5;
}

.dashed-list li:before {
  content: "--";
  right: 1;
}
.RankingContainer {
  padding: 2rem;
  background: #f8f5f0;
  margin-top: 2rem;
}
.rankingBox {
  display: flex;
  justify-content: space-between;
}
.rank1Box {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 348px;
  width: 348px;
  background-color: white;
  border: 3px solid #b90124;
}
.rank2Box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}
.rankBox2Arrow {
  transform: rotate(270deg);
}
.chlidRank {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  height: 248px;
  width: 248px;
  background-color: #b90124;
}
.rank3Box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
}
